/**
 * DEFAULT MODAL ANIMATIONS
 */

/* You need to override Bootstrap .modal because inferno-animation does animations */
.modal {
  display: block;
}

/* Modal dialog */

.ModalFade-leave {
  transform: translateY(0);
  opacity: 1;
}

.ModalFade-leave-active {
  overflow: hidden;
  transition: transform 0.5s ease-in, opacity 0.4s ease-in;
}

.ModalFade-leave-end {
  transform: translateY(-150%);
  opacity: 0;
}

.ModalFade-enter {
  transform: translateY(-150%);
  opacity: 0;
}

.ModalFade-enter-active {
  transition: transform 0.5s ease-out, opacity 0.4s ease-in;
}

.ModalFade-enter-end {
  transform: translateY(0);
  opacity: 1;
}

/* Modal background */

.ModalBackdropFade-leave {
  opacity: 0.5;
}

.ModalBackdropFade-leave-active {
  overflow: hidden;
  transition: opacity 0.3s ease-in;
}

.ModalBackdropFade-leave-end {
  opacity: 0!important;
}

.ModalBackdropFade-enter {
  opacity: 0!important;
}

.ModalBackdropFade-enter-active {
  transition: opacity 0.3s ease-in;
}

.ModalBackdropFade-enter-end {
  opacity: 0.5;
}

/**
 * DEFAULT COLLAPSE ANIMATIONS
 */

.CollapseAnimation-leave {
}

.CollapseAnimation-leave-active {
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.CollapseAnimation-leave-end {
  height: 0!important;
  padding-top: 0;
  padding-bottom: 0;
}

.CollapseAnimation-enter {
  height: 0!important;
  padding-top: 0;
  padding-bottom: 0;
}

.CollapseAnimation-enter-active {
  transition: all 0.3s ease-in;
  overflow: hidden;
}

.CollapseAnimation-enter-end {
}

