{
  "presets": [
    ["@babel/env", { "modules": false }],
    "inferno-app"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-object-rest-spread",
    "@babel/plugin-syntax-jsx"
  ],
  "env": {
    "production": {},
    "test": {}
  }
}