{
  "presets": [
    "stage-0",
    "es2015"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "babel-plugin-syntax-jsx",
    "add-module-exports",
    ["babel-plugin-inferno", {"imports": true}]
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-object-rest-spread",
        "babel-plugin-syntax-jsx",
        "add-module-exports",
        ["babel-plugin-inferno", {"imports": true}]
      ]
    }
  }
}