/* Box sizing reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* /END Box sizing reset */

.Menu {
  max-width: 65rem;
  width: 100%;
  margin: 2rem auto;
}

.Menu a {
  margin-right: 2em;
}

.PageMenuContainer {
  max-width: 65rem;
  width: 100%;
  margin: 2rem auto;
  position: relative;
}

.PageMenu {
  position: absolute;
  right: -2rem;
  transform: translateX(100%);
}

.PageMenu-Header {
  padding: 0 0.6em 0.5em;
  border-bottom: 2px #ddd dashed;
}

.PageLink {
  font-weight: 500;
}

.SectionLink {
  color: #777;
}

.Content {
  max-width: 65rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

/* Make sure we don't get jumps att beginning and end of animation */

.ExampleSection {
  padding: 0 0 5rem;
}

.ExampleStage {
  border: 1px solid lightgray;
  background-color: #fdfdfd;
  padding: 1rem;
  border-radius: 0.3rem;
}

.ExampleStage > :first-child {
    margin-top: 0em;
}

.ExampleStage > :last-child {
    margin-bottom: 0em;
}

.ExampleStage :last-child .ExampleScene-Code:last-child {
    margin-bottom: -1rem;
}

.ExampleScene {
  margin: 1rem 0;
}

.ExampleScene .card {
  max-width: 320px;
}

.ExampleScene .nav-tabs {
  margin-bottom: 1rem;
}

.ExampleScene-Code {
  font-family: Courier New, Courier, monospace;
  margin: 1rem -1rem;
} .ExampleScene-Code pre {
  padding: 0.5rem 0.85rem;
  margin: 0;
}

pre[class*="language-"]:after {
  transform: rotate(1.7deg);
  box-shadow: 0px 13px 8px #eee;
}
pre[class*="language-"]:before {
  transform: rotate(-1.7deg);
  box-shadow: 0px 13px 8px #eee;
}

.ExampleNarrative {
  
}

.ExampleStage > h3 {
  font-size: 1.1em;
  margin-top: 2em;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 0.5em;
}

.ExampleStage > h3:first-child {
  margin-top: 0.5em;
}

.modal {
  display: block;
}

.ModalFade-leave {
  transform: translateY(0);
  opacity: 1;
}

.ModalFade-leave-active {
  overflow: hidden;
  transition: transform 0.5s ease-in, opacity 0.4s ease-in;
}

.ModalFade-leave-end {
  transform: translateY(-150%);
  opacity: 0;
}

.ModalFade-enter {
  transform: translateY(-150%);
  opacity: 0;
}

.ModalFade-enter-active {
  transition: transform 0.5s ease-out, opacity 0.4s ease-in;
}

.ModalFade-enter-end {
  transform: translateY(0);
  opacity: 1;
}


.ModalBackdropFade-leave {
  opacity: 0.5;
}

.ModalBackdropFade-leave-active {
  overflow: hidden;
  transition: opacity 0.3s ease-in;
}

.ModalBackdropFade-leave-end {
  opacity: 0!important;
}

.ModalBackdropFade-enter {
  opacity: 0!important;
}

.ModalBackdropFade-enter-active {
  transition: opacity 0.3s ease-in;
}

.ModalBackdropFade-enter-end {
  opacity: 0.5;
}

/* Collapse */

.ExampleCollapseContainer {
  background-color: aliceblue;
  padding: 1rem;
}

.CollapseAnimation-leave {
}

.CollapseAnimation-leave-active {
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.CollapseAnimation-leave-end {
  height: 0!important;
  padding-top: 0;
  padding-bottom: 0;
}

.CollapseAnimation-enter {
  height: 0!important;
  padding-top: 0;
  padding-bottom: 0;
}

.CollapseAnimation-enter-active {
  transition: all 0.3s ease-in;
  overflow: hidden;
}

.CollapseAnimation-enter-end {
}

.ExampleLayout .row {
  margin-bottom: 0.5rem;
}
.ExampleLayout .row div {
  background-color: aliceblue;
  border: 1px solid #ddd;
  padding: 0.5rem;
}

/* Tab fadein */
.FadeIn-enter {
  opacity: 0;
}
.FadeIn-enter-active {
  overflow: hidden!important;
  transition: opacity 0.1s ease-in, height .2s ease-in-out, width .2s ease-in-out;
}

.FadeIn-enter-end {
  opacity: 1;
}