/* Box sizing reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* /END Box sizing reset */

.Menu {
  max-width: 65rem;
  width: 100%;
  margin: 2rem auto;
}

.Menu a {
  margin-right: 2em;
}

.Content {
  max-width: 65rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

/* Make sure we don't get jumps att beginning and end of animation */

.ExampleSection {
  padding: 0 0 5rem;
}

.ExampleStage {
  border: 1px solid lightgray;
  background-color: #fdfdfd;
  padding: 1rem;
  border-radius: 0.5rem;
}

.ExampleStage :first-child {
    margin-top: 0em;
}

.ExampleStage :last-child {
    margin-bottom: 0em;
}

.ExampleStage :last-child .ExampleScene-Code:last-child {
    margin-bottom: -1rem;
}

.ExampleScene {
  margin: 1rem 0;
}

.ExampleScene-Code {
  font-family: Courier New, Courier, monospace;
  background-color: #333;
  margin: 1rem -1rem;
  padding: 1rem;
} .ExampleScene-Code pre {
  color: white;
  margin: 0;
}